
$primary-normal: #06121e;
$primary-dark: #040f1a;
$primary-light: #0c2135;

$secondary-normal: #090d11;
$secondary-dark: #06090c;
$secondary-light: #1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #fff;
$white-dark: #edeaef;
$white-light: #fefbff;

$red-normal: #d94140;
$red-dark: #b42b2b;
$red-light: #d34040; 

$yellow-normal: #fbec5d;
$yellow-dark: #ffd700;
$yellow-light: #ecec53;

$blue-normal: #0000ff;
$blue-dark: #00008b;
$blue-light: #4169E1;
$blue-easy:  #b4e8eb;

$gray-normal: #acacac;
$gray-dark: #808080;
$gray-light: #d7d7d7;

$skin-normal: #FFE4C4;
$skin-dark: #FFDAB9;
$skin-light: #FFF8DC;