header{
    width: 100%;
    text-align: center;
    justify-content:center;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 14px;
    margin: 100px;
    
}

    

.header-button{
    display:flex;
    align-items: center;
    justify-content:center;
    gap: 10px;
    font-size: 18px;
    padding: 14px;
    margin: 2px;
}

.header-button a:hover{
    a{
        animation: translateY 0.8s infinite alternate;
        color: $red-light;
    }
}

@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-1px) scale(1.1);
    }
}

.header-button{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    border-radius: 7px;
    padding: 2px;
    margin: 2px;
    border: 1px solid $black-dark ;
    color: $black-dark;
    background-color: rgb(218, 215, 212);
    align-items: center;
    justify-content:center;
}



@media screen and (max-width: 580px){
    .header-button{
       font-size: 9px;
       padding: 14px;
       margin: 2px;
    }

    .header-logo{
        max-width: 580px
    }
}

.header-button:hover{
    color: aliceblue;
    border: 1px solid $blue-light;
    background-color: $blue-light;
    animation: translateY 0.8s infinite alternate;
}

.header-logo{
    display: flex;
    padding: 14px;
    margin: 2px;
    width: 100%;
    justify-content: center;
    align-items: center;

a{
    padding: 14px;
    margin: 2px;
    display: flex;
    flex-direction:column;
    align-items:normal;
    justify-content: space-between;
    padding: 2px;
    }
}

@media screen and (max-width: 580px) {
    .header-content{
        padding: 14px;
        margin: 2px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    i{
        max-width: 580px;
        margin-top: 14px;
        font-size: 34px;
    }

    .header-logo img{
        max-width: 580px;
        margin-top: 30px;
    }
    .header-button{
        display:inline;
        align-items: center;
        justify-content:center;
    }
}
